    .container{
  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        flex: 1 1 300px; /* Cresce, encolhe e tenta manter a base de 300px */
        max-width: 100%; /* Garante que não ultrapasse a tela em celulares muito pequenos */
   
    }

    .fotoo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        align-items: center;
        padding: 10px;
       
    }

    .div1, .div2, .div3{
        border: #9c9395 2px solid;
        border-radius: 10px;    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
    }


    